@page "/"
@code {
	private DisplayModel model;
}
<h1>What's this?</h1>

<p>
	This small web application allows you to configure pre-renderable panels
	for display on an E-Ink screen.
	<br />
	The images are intended to be projected to the display by
	<a href="https://github.com/aceisace/Inky-Calendar" target="_blank">Inky-Calendar</a>, but
	will work with other setups too.
</p>

<h2>But why?</h2>
These panels is easier to configure, maintain, extend and debug when available on a centralized application.
Inky-Cal panels already have a dependency on the web (for obtaining data), so no new dependencies there.
It also allows to reduce power-consumption, making a battery-operated panel a more viable option.

<h2>Demo time!</h2>

Given a selected display panel:

<EditForm Model="@this">
	<InputSelect class="form-control" id="@nameof(model)" @bind-Value="@model">
		@foreach (var displayModel in Enum.GetValues(typeof(DisplayModel)))
		{
			<option>@displayModel</option>
		}
	</InputSelect>
</EditForm>

<br />
<div class="card">
	<div class="card-header">
		Examples
	</div>
	<div class="card-body">
		<div class="row">
			<div class="col-3">
				<ul class="nav flex-column nav-pills" id="v-pills-tab-2" role="tablist" aria-orientation="vertical">
					<li class="nav-item">
						<a class="nav-link active" id="images-tab" data-toggle="tab" href="#images" role="tab" aria-controls="images" aria-selected="true">Images</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="calendar-tab" data-toggle="tab" href="#calendar" role="tab" aria-controls="calendar" aria-selected="false">Calendars</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="calendar-image-tab" data-toggle="tab" href="#calendar-image" role="tab" aria-controls="calendar-image" aria-selected="false">Calendars rendered as AI-powered illustration</a>
                    </li>
					<li class="nav-item">
						<a class="nav-link" id="nyt-tab" data-toggle="tab" href="#nyt" role="tab" aria-controls="nyt" aria-selected="false">New York Times</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="weather-tab" data-toggle="tab" href="#weather" role="tab" aria-controls="weather" aria-selected="false">Weather</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="combined-tab" data-toggle="tab" href="#combined" role="tab" aria-controls="combined" aria-selected="false">Combined</a>
					</li>
				</ul>
			</div>

			<div class="col-9" style="height:600px; overflow:auto">
				<div class="tab-content" id="v-pills-tabContent-2">
					<div class="tab-pane active" id="images" role="tabpanel" aria-labelledby="images-tab">
						Images can be pre-processed for display on an E-Ink screen.
						Reducing the colors just right for your panel.
						<p><img src="/panel/test/@model/image" style="border:1px solid silver" /></p>
						<small><em>Nice black-white-color image converted from: <a href="@Utils.TestImagePanelRenderer.DemoImageUrl">@Utils.TestImagePanelRenderer.DemoImageUrl</a>.</em></small>
                    </div>
                    <div class="tab-pane" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                        Configure one or more (iCal / Google) calenders for display:
                        <p><img src="/panel/test/@model/calendar" style="border:1px solid silver" /></p>
                        <small><em>Public holiday calender, obtained from: <a href="@Utils.TestCalendarPanelRenderer.PublicHolidayCalenderUrl">@Utils.TestCalendarPanelRenderer.PublicHolidayCalenderUrl</a>.</em></small>

                        <p><img src="panel/calendar/@model/url?calendar=@(System.Web.HttpUtility.UrlEncode(Utils.TestCalendarPanelRenderer.DebugCalenderUrl))" style="border:1px solid silver" /></p>
                        <small><em>Public debug/demo calender, obtained from: <a href="@Utils.TestCalendarPanelRenderer.DebugCalenderUrl">@Utils.TestCalendarPanelRenderer.DebugCalenderUrl</a>.</em></small>
                    </div>
                    <div class="tab-pane" id="calendar-image" role="tabpanel" aria-labelledby="calendar-image-tab">
                        AI-powered illustration of your calender. Original idea from : <a href="https://turunen.dev/2023/11/20/Kuvastin-Unhinged-AI-eink-display/" target="_blank">Kuvastin: Unhinged AI e-ink display</a>
                        <p><img src="/panel/test/@model/calendar-image" style="border:1px solid silver" /></p>
                        <small><em>Public holiday calender, obtained from: <a href="@Utils.TestCalendarPanelRenderer.PublicHolidayCalenderUrl">@Utils.TestCalendarPanelRenderer.PublicHolidayCalenderUrl</a>.</em></small>
                    </div>
					<div class="tab-pane" id="nyt" role="tabpanel" aria-labelledby="nyt-tab">
						Inspired by (not saying ripped off from) <a href="https://alexanderklopping.medium.com/an-updated-daily-front-page-of-the-new-york-times-as-artwork-on-your-wall-3b28c3261478">Alexander Klöppings' "An updated daily front page of The New York Times as artwork on your wall"</a>
						<p><img src="panel/nyt/@model" style="border:1px solid silver" /></p>
						<small><em>The front page of the New York times, with better panels (grayscale, larger resolution) this image will make more sense.</em></small>
					</div>
					<div class="tab-pane" id="weather" role="tabpanel" aria-labelledby="weather-tab">
						<p><img src="/panel/test/@model/weather" style="border:1px solid silver" /></p>
						<small><em>Basic weather forecast panel.</em></small>
					</div>
					<div class="tab-pane" id="combined" role="tabpanel" aria-labelledby="combined-tab">
						<p><img src="/panel/test/@model/panel-of-panels" style="border:1px solid silver" /></p>
						<small><em>A combination of other panels in a configurable grid.</em></small>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<hr />

<h2>What's more?</h2>
<p>
	<ol>
		<li>Improved panel management</li>
		<li>
			More panel types
			<ol>
				<li>
					Image panel config UI
					<ol>
						<li>Configure multiple images for randomized display.</li>
						<li>Upload images?</li>
						<li>Browse local images? (when hosting this service yourself)</li>
					</ol>
				</li>
				<li>RSS feed</li>
				<li>Alternative calendar view</li>
				<li>Weather</li>
				<li>...</li>
			</ol>
		</li>
		<li>
			Improved display config
			<ol>
				<li>Rotation</li>
				<li>Color configuration overriding</li>
				<li>Fonts &amp; font sizes</li>
				<li>Enable/display grayscale images (instead of hard black &amp; white).</li>
			</ol>
		</li>
	</ol>
	<br />
	The good part: once set up, you will not (ever) have to change settings by SSH-ing into your calender in order
	to display updated panel configuration. The link to this panel is a simple <code>GET</code> request.
</p>

<h2>Fantastic, where do I start?</h2>
<p>
	First of all, make sure you have a working Inky-Calender
	setup (E-Ink display connected to Raspberry PI or equivalent, running
	<a href="https://github.com/aceisace/Inky-Calendar" target="_blank">Inky-Calendar</a>).
</p>
<AuthorizeView>
	<Authorized Context="auth">
		As you are already logged it, head over to
		<NavLink class="nav-link" href="fetchdata">
			<span class="oi oi-list-rich" aria-hidden="true"></span> panel configuration.
		</NavLink>
	</Authorized>
	<NotAuthorized>
		Then: <LoginDisplay />, and head over to
		<NavLink class="nav-link" href="fetchdata">
			<span class="oi oi-list-rich" aria-hidden="true"></span> panel configuration.
		</NavLink>.
		<p>
			Don't like to login? No problem, quite a bit of the panel configuration is available without creating an account, see:
			<NavLink class="nav-link" href="swagger_frame">
				<span class="oi oi-code" aria-hidden="true"></span> the API documentation,
			</NavLink> (which contains endpoints for anonymous panels too).
		</p>
	</NotAuthorized>
</AuthorizeView>
<p>
	You could also join the <a href="https://discordapp.com/channels/672082714190544899/675424713652305940" target="_blank">Discord chat</a>.
</p>

