@inherits AuthenticatedComponentBase
@using Humanizer;

<style type="text/css">
	span.grippy {
		content: '....';
		width: 10px;
		height: 20px;
		display: inline-block;
		overflow: hidden;
		line-height: 5px;
		padding: 3px 4px;
		cursor: move;
		vertical-align: middle;
		margin-top: -.7em;
		margin-right: .3em;
		font-size: 12px;
		font-family: sans-serif;
		letter-spacing: 2px;
		color: #cccccc;
		text-shadow: 1px 0 1px black;
	}

		span.grippy::after {
			content: '.. .. .. ..';
		}

	.ratio_explanation {
		width: 500px;
		display: inline;
	}

	.holder {
		border: 2px solid gray;
		width: 80px;
		padding: 2px;
		background-color: white;
		margin: 5px;
		display:block	;
	}

	.panel {
		margin: 2px;
		background-color: gray;
		color: white;
		font-size: 7pt;
		text-align: center;
		display: block;
		height: 33px;
		line-height: 33px;
		border-radius:4px;
	}

		.panel:nth-child(1) {
		}

		.panel:nth-child(2) {
		}

		.panel:nth-child(3) {
			height: 34px;
			line-height: 34px;
		}


	.holder:nth-child(2) .panel {
		height: 20px;
		line-height: 20px;
	}

	.holder:nth-child(2) .panel:nth-child(1) {
		
	}

	.holder:nth-child(2) .panel:nth-child(2) {
		
	}

	.holder:nth-child(2) .panel:nth-child(3) {
		height: 60px;
		line-height: 60px;
	}

	.holder:nth-child(3) .panel {
		height: 20px;
		line-height: 20px;
	}

	.holder:nth-child(3) .panel:nth-child(1) {
	}

	.holder:nth-child(3) .panel:nth-child(2) {
		height: 60px;
		line-height: 60px;
	}

	.holder:nth-child(3) .panel:nth-child(3) {
	}

	.holder:last-child {
		clear:both;
	}
</style>
<EditForm Model="@Panel">
	<DataAnnotationsValidator />
	<ValidationSummary />
</EditForm>

<EditForm Model="@this" OnValidSubmit="AddPanel">
	<DataAnnotationsValidator />
	<div class="form-group">
		<label>
			@if ((@Panel.Panels?.Any()).GetValueOrDefault())
			{
				<span>Add another panel:</span>
			}
			else
			{
				<span>Add at least one panel:</span>
			}
		</label>
		<div class="input-group">
			<InputSelect class="form-control" id="@nameof(newPanelId)" @bind-Value="@newPanelIdAsString">
				@if ((selectablePanels?.Any()).GetValueOrDefault())

					@foreach (var panel in selectablePanels)
					{
						<option value="@panel.Id.ToString()">@panel.Name (@panel.GetType().Name)</option>
					}

			</InputSelect>
			<span class="input-group-btn">
				<button disabled="@(Panel.Panels.Count()>=5)" type="submit" class="btn btn-link"><span class="oi oi-plus" aria-hidden="true"></span></button>
			</span>
		</div>
		<ValidationMessage For="@(() => @Panel.Panels)" />
	</div>
</EditForm>

@if ((@Panel.Panels?.Any()).GetValueOrDefault())
{
	<div class="form-group" ondragover="event.preventDefault();">
		@if (@Panel.Panels.Count() == 1)
		{
			<span>A single panel, why don't you add some more?</span>
		}
		else
		{
			<span>@("Panels".ToQuantity(@Panel.Panels.Count())), drag to re-order.</span>
		}

		<ul class="list-group" style="padding-left: 0;">
			@foreach (var panel in @Panel.Panels.OrderBy(x => x.SortIndex))
			{
				<li class="list-group-item bg-light" draggable="true" style="cursor:grab" @key="panel.SortIndex" @ondrop="@(()=> Drop(panel))" @ondragstart="@(()=> StartDrag(panel))">
					<span class="grippy"></span>

					@panel.Panel.Name

					<span class="oi oi-trash" aria-hidden="true" @onclick="RemovePanel" style="cursor:not-allowed;float:right;margin-left:10px;" title="Click to remove this panel."></span>

					<small style="float:right">

					Heigth <sup class="oi oi-info badge badge-primary" data-toggle="tooltip" data-html="true" title="<strong>Relative sizes</strong><br/>
	A default 1:1:1 ratio divides the space evently
	<div class='holder' title='A default 1:1:1 ratio divides the space evently'>
		<div class='panel'>1</div>
		<div class='panel'>1</div>
		<div class='panel'>1</div>
	</div>
	A 1:1:3 ratio fills up the same space
	<div class='holder' title='A 1:1:3 ratio fills up the same space'>
		<div class='panel'>1</div>
		<div class='panel'>1</div>
		<div class='panel'>3</div>
	</div>
	Heights can also be specified in exact pixels<div class='holder' title='Heights can also be specified in exact pixels'>
		<div class='panel'>176</div>
		<div class='panel'>528</div>
		<div class='panel'>176</div>
	</div>">&nbsp;</sup>:
					<input type="number" step="1" min="1" max="@short.MaxValue" @bind="@panel.Ratio" />
				</small>

					<span class="badge badge-primary">@panel.Panel.GetType().Name</span>
				</li>
			}
		</ul>
	</div>
}
